@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-center">
                <h1 class="display-4" style="color: #4CAF50;">Welcome to Gymapp</h1>
                <p class="lead" style="color: #333;">Here you can find new exercises and workouts to target your desired muscle groups, as well as nutrition plans and other common tips!</p>
            </div>
        </div>
    </div>
</div>


